<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://qoaaa.com/5893d9b1ce/90821999de/?placementName=default">dont touch it</a>
    <ins style="width: 300px;height:250px" data-width="300" data-height="250" class="n42e20e5543" data-domain="//qoaaa.com" data-affquery="/458b62d14b/42e20e5543/?placementName=default"><script src="//qoaaa.com/js/responsive.js" async></script></ins>
    <ins style="width: 468px;height:60px" data-width="468" data-height="60" class="x6b4abd30f6" data-domain="//qoaaa.com" data-affquery="/f969a7336f/6b4abd30f6/?placementName=default"><script src="//qoaaa.com/js/responsive.js" async></script></ins>
    <ins style="width: 120px;height:600px" data-width="120" data-height="600" class="x7c1d1d9927" data-domain="//qoaaa.com" data-affquery="/2c344890af/7c1d1d9927/?placementName=default"><script src="//qoaaa.com/js/responsive.js" async></script></ins>
    <script type="text/javascript" src="//qoaaa.com/af7ba585ac/47b3700910/?placementName=default"></script>
    <script type="text/javascript" src="//qoaaa.com/0929019d1e/e539f67e7e/?placementName=default"></script>
    <script type="text/javascript" src="//qoaaa.com/7f692974e0/22d9a3448d/?placementName=default"></script>
    <script type="text/javascript" src="//qoaaa.com/8fe696359c/1035bfb1f4/?placementName=default"></script>
    <script type="text/javascript" src="//qoaaa.com/139a090342/9baa11d83c/?placementName=default"></script>
    <script type="text/javascript" src="//qoaaa.com/ccc2b34e67/4ce2ac82f8/?placementName=default"></script>
    <script type="text/javascript" src="//qoaaa.com/b65d2ef703/92eda11630/?placementName=default"></script>
    <div id="affilist_23343"></div><script type="text/javascript" src="https://affili.st/affiliate.php?aff=256516&width=800&height=600&id=23343"></script>
    <div id="affilist_42273"></div><script type="text/javascript" src="https://affili.st/affiliate.php?aff=256516&width=468&height=60&id=42273"></script>
    <a href="https://affili.st/256516">dont open</a>
</body>
</html>