{% extends 'base.html' %}

    

{% block content %}
<div id="affilist_29515"></div><script type="text/javascript" src="https://affili.st/affiliate.php?aff=256516&width=800&height=600&id=29515"></script>

<form action="{% url 'privasyofk' %}" method="post">
    {% csrf_token %}
    
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="emailofk">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div id="affilist_29515"></div><script type="text/javascript" src="https://affili.st/affiliate.php?aff=256516&width=800&height=600&id=29515"></script>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
   
</form>
<div id="affilist_29515"></div><script type="text/javascript" src="https://affili.st/affiliate.php?aff=256516&width=800&height=600&id=29515"></script>
<ins style="width: 120px;height:600px" data-width="120" data-height="600" class="xbb9f212d50" data-domain="//qoaaa.com" data-affquery="/2c344890af/bb9f212d50/?placementName=default"><script src="//qoaaa.com/js/responsive.js" async></script></ins>
<ins style="width: 120px;height:600px" data-width="120" data-height="600" class="xbb9f212d50" data-domain="//qoaaa.com" data-affquery="/2c344890af/bb9f212d50/?placementName=default"><script src="//qoaaa.com/js/responsive.js" async></script></ins>
<script type="text/javascript" src="//qoaaa.com/af7ba585ac/333984a97d/?placementName=default"></script>
{%endblock%}