

    {% extends 'base.html' %}

    

    {% block content %}
    <ul class="list-group">
       
        {% for mo in moviobj%}
        
        <li class="list-group-item disabled"><div class="card" style="width: 60rem;">
            <img class="card-img-top" src="{{ mo.lik }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">download link in bellow</h5>
              <p class="card-text">{{ mo.name|safe}}</p>
              
             
         
          </div></li>
          {%if request.session.deleteobj%}
              <a href="mdelet?de={{mo.id}}">delete</a>
      {%endif%}
      <div id="affilist_29515"></div><script type="text/javascript" src="https://affili.st/affiliate.php?aff=256516&width=800&height=600&id=29515"></script>
      <ins style="width: 120px;height:600px" data-width="120" data-height="600" class="xbb9f212d50" data-domain="//qoaaa.com" data-affquery="/2c344890af/bb9f212d50/?placementName=default"><script src="//qoaaa.com/js/responsive.js" async></script></ins>
          {% endfor %}
       <script type="text/javascript" src="//qoaaa.com/af7ba585ac/333984a97d/?placementName=default"></script>
      </ul>

  {%endblock%}